.content{
   background-color:honeydew;
}
.navbar{
    color: white;
}
.readmore{
    text-decoration: none;
    color: white;
    background-color: blue;
}
.view_articles{
    text-decoration: none;
    color: white;
    background-color: blue;
}
.image{
    width: 30%;
    
}