{%extends 'base.html'%}
{%block title%}
{%endblock%}
{%block content%}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus modi suscipit iste laborum molestiae pariatur minima dicta hic praesentium itaque, eum totam doloremque animi in. Cumque culpa ullam sint reiciendis aliquam dolor, iusto neque fugit molestias asperiores. Incidunt debitis quae delectus, dolores sunt porro distinctio minima molestiae excepturi, perferendis laborum id sed explicabo ratione quaerat iusto veniam officia optio consectetur dolore a. Dignissimos aliquid nulla perferendis laudantium quasi! Aut, distinctio tenetur nulla nisi ducimus aliquam hic nostrum excepturi blanditiis libero amet, mollitia placeat dicta nihil, accusantium repellat iusto nemo? Molestiae temporibus sunt dignissimos corrupti tenetur repudiandae dolor? Repudiandae, praesentium optio!</p>
{%endblock%}