{%extends 'base.html'%}
{%block title%}
{{title}}
{%endblock%}
{%block content%}
<div>
    <h5>Top sources</h5>
    <ul>
        {%for n in news %}
        <li class="list-unstyled w-75 p-4 border mx-auto">
            <p><strong>Name:</strong><span class="text-danger ms-2">{{n.name}}</span></p>
            <p><strong>Description:</strong><span class="text-danger ms-2">{{n.description}}</span></p>
            <div class="d-flex justify-content-around">
                <a href="{{n.url}}" class="d-block readmore" target="blank">Read More...</a>
                <p><strong>Language:</strong><span class="text-danger ms-2">{{n.language}}</span></p>
                <p><strong>Category:</strong><span class="text-danger ms-2">{{n.category}}</span></p>
            </div>  
            <p><strong>Country:</strong><span class="text-danger ms-2">{{n.country}}</span></p>
        </li>
        {%endfor%}

    </ul>
</div>
{%endblock%}
